.mid-img {
  width: 150px;
  height: 150px;
}

.title-img {
  width: 600px;
  height: 200px;
}

body {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  gap: 30px;
  padding: 0px;
  margin: 0px;
}

.header,
.footer,
.section-one,
.section-two,
.section-three,
.section-four {
  display: flex;
}

.section-one {
  padding-block: 50px;
}

.section-three {
  background-color: #e5e7eb;
}

.quote {
  size: 36px;
  font-weight: light;
  font-style: italic;
  color: #1f2937;
}

.call,
.footer {
  color: #e5e7eb;
}

.container,
.footer {
  background-color: #1f2937;
}

.subtitle,
.links {
  color: #e5e7eb;
  size: 18px;
}

button,
.section-four {
  background-color: #3882f6;
}

.info {
  font-size: 36px;
  font-weight: extra-bold;
  color: #1f2937;
}

.logo {
  size: 24px;
  color: #f9faf8;
}

.header,
.section-one {
  align-items: center;
  justify-content: space-between;
  padding-inline: 100px;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 150px;
}

.images {
  display: flex;
  gap: 15px;
}

.section-three {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-inline: 150px;
}

.section-four {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 100px;
}

.footer {
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 48px;
  font-weight: extra-bold;
  color: #f9faf8;
}

.links {
  display: flex;
  align-items: center;
  gap: 15px;
}

ul {
  list-style: none;
  padding: 0px;
}
