.mid-img {
  width: 100px;
  height: 100px;
  border-radius: 25px;
  border: 5px solid #3882f6;
}

.title-img {
  width: 600px;
  height: 200px;
}

body {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  gap: 30px;
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", "Verdana", sans-serif;
}

.header,
.footer,
.section-one,
.section-two,
.section-three,
.section-four {
  display: flex;
}

.section-one {
  padding-block: 50px;
  gap: 30px;
}

.section-three {
  background-color: #e5e7eb;
  display: flex;
}

.quote {
  size: 36px;
  font-weight: light;
  font-style: italic;
  color: #1f2937;
}

.call,
.footer {
  color: #e5e7eb;
}

.call {
  font-weight: bold;
}

.container,
.footer {
  background-color: #1f2937;
}

.subtitle,
.links {
  color: #e5e7eb;
  size: 18px;
}

button,
.container-2 {
  background-color: #3882f6;
}

button {
  border-radius: 5px;
  border: 5px solid #3882f6;
  color: #e5e7eb;
}

.info {
  font-size: 36px;
  font-weight: extra-bold;
  color: #1f2937;
}

.logo {
  size: 24px;
  color: #f9faf8;
  padding-right: 36px;
}

.header,
.section-one {
  align-items: center;
  justify-content: space-between;
  padding-inline: 100px;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.section-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 150px;
  padding-block: 12px;
  gap: 12px;
}

.images {
  display: flex;
  gap: 30px;
}

.section-three {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 50px 150px;
}

.attr {
  font-weight: 700;
}

.section-four {
  background-color: white;
  justify-content: center;
  align-items: center;
  padding-inline: 100px;
}

.container-2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-block: 36px;
  flex: auto;
  border-radius: 10px;
  padding: 15px;
}

.footer {
  justify-content: center;
  align-items: center;
  padding-block: 36px;
}

.title {
  font-size: 48px;
  font-weight: extra-bold;
  color: #f9faf8;
}

.links {
  display: flex;
  align-items: center;
  gap: 15px;
}

.btn-2 {
  border-radius: 5px;
  border: 2px solid #f9faf8;
  padding: 5px 15px;
}

ul {
  list-style: none;
  padding: 0px;
}
